body {
  font-family: "Lato", sans-serif;
}
header {
  width: 100%;
  height: 850px;
  flex-shrink: 0;
  background: rgba(229, 84, 115, 0.1);
}
.design-header {
  display: flex;
  width: 708px;
  flex-direction: column;
  flex-shrink: 0;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.short-text {
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.design.header-pic {
  width: 635px;
  height: 800px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 24;
}

.section-description {
  margin: 0 auto;
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.flower-flex {
  margin: 0 auto;
  width: 1920px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  margin-top: 48px;
}

.first-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.first-flower img {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
}
.second-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.second-flower img {
  width: 370px;
  height: 370px;
  flex-shrink: 0;
  background: no-repeat cover center;
}
.third-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.third-flower img {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
}
.flower-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.design {
  width: 1920px;
  height: 850px;
  flex-shrink: 0;
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flower-design {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.delivery {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.delivery p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.deal {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 620px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  gap: 150px;
}
.deal .text {
  text-align: center;
}
.deal .heading {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.deal .heading span {
  color: #e55473;
}
.deal p {
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.deal button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.insta {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.insta p {
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.insta .picture {
  display: flex;
  gap: 24px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
  border-radius: 8px;
  background: url(../Flower\ Asset/Rectangle\ 9.png),
    lightgray 0px -203.444px / 100% 213.755% no-repeat;
}
.subscribe h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.subscribe p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.subscribe .input {
  display: flex;
  gap: 16px;
}
.subscribe input {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.subscribe button {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

footer {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 449px;
  flex-shrink: 0;
  background: #111010;
}
footer h1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
footer h1 span {
  color: #e55473;
}
footer .para1 {
  display: flex;
  width: 625px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
footer p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
